.pg-order-bg-wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #F6F8FC;

  .pg-order-wrap  {
    position: relative;
    margin: 12rpx auto;
    width: 710rpx;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12rpx;
    background: #ffffff;
    .pg-order-info-wrap {      
      width: 100%;
      background: #FEEDEE;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      border-top-left-radius: 12rpx;
      border-top-right-radius: 12rpx;
      .pg-order-num-wrap {
        margin: 16rpx 18rpx;
        width: 500rpx;
        .pg-order-num {      
          width: 100%;   
          font-size: 24rpx;
          color: #000000;
          word-break: break-all;
        }      
        .pg-order-date {
          width: 100%;
          font-size: 24rpx;
          color: #000000;
          word-break: break-all;
        }
      }          
      .pg-order-status {
        margin-right: 22rpx;
        font-weight: bold;
        font-size: 28rpx;
        color: #FE7F01;
      }
      .pg-order-status-cancel {
        margin-right: 22rpx;
        font-weight: bold;
        font-size: 28rpx;
        color: #777777;
      }
    }
  
    .pg-order-goods-wrap {
      position: relative;
      width: 100%;
      height: 240rpx;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      background: #ffffff;
      .pg-order-goods-img {
        width: 160rpx;
        height: 160rpx;
        .nut-img {
          border-radius: 12rpx !important;
        }
      }    
      .pg-order-goods-info {
        position: relative;
        margin-left: 20rpx;
        width: 485rpx;
        height: 160rpx;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .pg-order-goods-name {
          font-size: 28rpx;
          color: #000000;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .pg-order-goods-price-old {
          font-size: 24rpx;
          color: #8A8A8A;
          text-decoration: line-through;
        }
        .pg-order-goods-price-wrap {
          display: flex;
          flex-direction: row;
          align-items: flex-end;
          .pg-order-goods-price {
            color: #000000;
            font-size: 36rpx;
            line-height: 36rpx;
          }
          .pg-order-goods-price-unit {
            margin-left: 5rpx;
            margin-bottom: 4rpx;
            color: #000000;
            font-size: 24rpx;
            line-height: 24rpx;
          }
        } 
        .pg-order-goods-count {
          position: absolute;
          bottom: 0rpx;
          right: 0rpx;
          font-size: 28rpx;
          font-weight: bold;
          color: #000000;
        }        
      }  
      .pg-order-goods-line {
        position: absolute;
        left: 0rpx;
        right: 0rpx;
        bottom: 0rpx;
        height: 2rpx;
        background: #F6F8FC;
      }       
    }
  
    .pg-order-total-wrap {
      position: relative;
      width: 100%;
      height: 80rpx;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      .pg-order-total-count {
        margin-right: 20rpx;
        font-size: 28rpx;
        color: #000000;
      }
      .pg-order-total-price-wrap {
        margin-right: 20rpx;
        margin-bottom: 4rpx;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        .pg-order-total-price-red {
          color: #EE3A43;
          font-size: 36rpx;
          line-height: 36rpx;
        }
        .pg-order-total-price-text {
          margin-bottom: 2rpx;
          color: #000000;
          font-size: 28rpx;
          line-height: 28rpx;
        }
      } 
    }
  }
}
