.pg-goods-wrap {
  margin-bottom: 20rpx;
  width: 340rpx;
  height: 540rpx;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
  border-radius: 10rpx;
  .goods-img {
    .nut-img {
      border-radius: 10rpx 10rpx 0rpx 0rpx !important;
    }
    width: 340rpx;
    height: 340rpx;
  }
  .goods-name {
    width: 320rpx;
    height: 100rpx;
    // background: orange;
    font-size: 30rpx;
    color: black;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .goods-price-wrap {
    width: 320rpx;
    height: 50rpx;
    // background: orange;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    .goods-price-new {
      color: red;
    }
    .goods-price-old {
      margin-left: 10rpx;
      color: gray;
    }
  }
  .goods-tag-wrap {
    width: 320rpx;
    height: 40rpx;
    // background: orange;
    display: flex;
    flex-direction: row;
    align-items: center;
    .goods-tag {
      margin-right: 10rpx;
      font-size: 20rpx;
      color: #ffffff;
    }
  }
}