.service-list {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.service-bg-img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.service-wrap {
  position: relative;
  margin-top: 234rpx;
  display: flex;
  flex-direction: column;
  align-items: center;
  .service-img {
    position: absolute;
    top: 0rpx;
    width: 92rpx;
    height: 92rpx;
  }
  .service-content {
    position: absolute;
    top: 66rpx;
    width: 604rpx;
    // height: 306rpx;
    background: #ffffff;
    box-shadow: 0rpx 2rpx 6rpx 0rpx rgba(0,0,0,0.33);
    border-radius: 24rpx;
    display: flex;
    flex-direction: column;
    align-items: center;
    .service-scroll {
      margin-top: 44rpx;
      margin-bottom: 72rpx;
      width: 550rpx;
      display: flex;
      flex-direction: column;
      align-items: center;
      overflow-y: scroll;
      max-height: 680px;
      .service-content-item {
        margin-top: 28rpx;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        width: 480rpx;
        .service-content-text {     
          text-align: left;     
          font-size: 32rpx;
          line-height: 44rpx;
          color: #000000;
          white-space: pre-wrap;
        }
      }
    }    
  }
}



