// @import "~taro-ui/dist/style/index.scss";

:root {
  // button 
  --nutui-button-border-width: 1rpx;
  --nutui-button-default-height: 80rpx;
  --nutui-button-border-radius: 10rpx;
  --nutui-button-default-font-size: 24rpx;
  --nutui-button-default-border-color: #808080;
  // input
  --nutui-input-border-radius: 20rpx;
  --nutui-input-font-size: 28rpx;
  --nutui-input-padding: 25rpx 28rpx;
  --nutui-input-placeholder-color: #AFB0B3;
  // empty
  --nutui-empty-background-color: transparent;
  // dialog
  --nutui-dialog-border-radius: 10rpx;
  --nutui-dialog-header-font-size: 34rpx;
  // search
  --nutui-searchbar-padding: 10rpx 25rpx;
  --nutui-searchbar-input-height: 80rpx;
  --nutui-searchbar-font-size: 30rpx;
  // tabbar
  --nutui-tabbar-height: 100rpx;
  // tabs
  --nutui-tabs-tabpane-padding: 0rpx 0rpx;
  --nutui-tabs-titles-background-color: #ffffff;
  

  // tag [ok]
  --nutui-tag-padding: 0rpx 8rpx;
  --nutui-tag-font-size: 18rpx;
  --nutui-tag-height: 32rpx;
  --nutui-tag-border-radius: 8rpx;
  --nutui-tag-color: #B46820;
  --nutui-tag-border-width: 1rpx;
  --nutui-tag-background-color: #FFF4E7;
}

.pg-index {
  // position: relative;
  // min-height: 100%;
  width: 100%;
  height: 100%;
  // height: 100vh;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  background: #F6F8FC;
}

.pg-alert-bg {
  z-index: 9999;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.pg-space-bottom {
  width: 100%;
  height: 100rpx;
}