.detail-list {
  width: 100w;
  height: calc(100vh - 110rpx);
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
}


.detail-swiper-wrap {
  margin-top: 20rpx;
  position: relative;
  width: 100vw;  
  display: flex;
  flex-direction: column;
  align-items: center;
  .swiper-item {
    position: relative;
    width: 100vw;
    height: 100vw;
    .swiper-video {
      width: 100%;
      height: 100%;
      .taro-video-cover {
        background-color: rgba(1, 1, 1, .2) !important;
      }
    }
    .swiper-img {
      width: 100%;
      height: 100%;
    }
  }
  .detail-swiper-slide {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 60rpx;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}


.detail-price-wrap {
  position: relative;
  width: 100vw;
  height: 116rpx;
  display: flex;
  flex-direction: column;
  align-items: center;
  .detail-price-img {
    width: 100%;
    height: 100%;
  }
  .detail-price-item {
    position: absolute;
    left: 40rpx;
    bottom: 30rpx;
    right: 40rpx;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    .detail-price-new-wrap {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      .detail-price-new {
        color: #ffffff;
        font-size: 60rpx;
        line-height: 60rpx;
      }
      .detail-price-new-unit {
        margin-left: 5rpx;
        margin-bottom: 5rpx;
        color: #ffffff;
        font-size: 28rpx;
        line-height: 28rpx;
      }
    }    
    .detail-price-old {
      margin-left: 16rpx;
      margin-bottom: 5rpx;
      color: #ffffff;
      font-size: 28rpx;
      line-height: 28rpx;
      text-decoration: line-through;
    }
  }
}

.detail-name-wrap {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
  .detail-name {
    margin-top: 20rpx;
    margin-bottom: 20rpx;
    width: 670rpx;
    font-size: 32rpx;
    font-weight: bold;
    color: #000000;
  }
}

.detail-tag-wrap {  
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
  .detail-tag-item {
    margin-bottom: 20rpx;
    width: 670rpx;
    display: flex;
    flex-direction: row;
    align-items: center;
    .detail-tag-text {
      --nutui-tag-padding: 0 10rpx;
      --nutui-tag-font-size: 20rpx;
      margin-right: 10rpx;
    }
  }  
}


.detail-divider-wrap {
  width: 100vw;
  height: 116rpx;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .detail-divider {
    width: 670rpx;
    text-align: center;
    font-size: 40rpx;
    color: #000000;
  }
}


.detail-video-wrap {  
  margin-top: 10rpx;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .detail-video-item {
    position: relative;
    width: 700rpx;
    height: 700rpx;
    .detail-video {
      width: 100%;
      height: 100%;
      .taro-video-cover {
        background-color: rgba(1, 1, 1, .2) !important;
      }
    }
  }
}


.detail-img-wrap {
  margin-top: 30rpx;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  .detail-img {
    width: 100%;
    height: auto;
  }
}


.detail-tools-wrap {
  z-index: 999;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 156rpx;
  background-color: #fff;
  border-top: 1px solid #eee;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  .tools-bar {
    margin-top: 28rpx;
    display: flex;
    flex-direction: row;    
    align-items: center;
    justify-content: space-between;
    height: 100rpx;
    width: 674rpx;   
    .left-btn-wrap {
      width: 242rpx;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      .left-btn-line {
        width: 2rpx;
        height: 92rpx;
      }
      .left-btn {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;       
        .left-btn-img {
          width: 90rpx;
          height: 90rpx;
        }
        .left-btn-tag {
          position: absolute;
          top: 22rpx;
          right: 24rpx;
        }
      }          
    }
    .right-btn-wrap {
      width: 404rpx;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      .right-btn-add {
        width: 142rpx;
        height: 84rpx;
        border-top-left-radius: 42rpx;
        border-bottom-left-radius: 42rpx;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        background-color: #EE3A43;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .right-btn-add-img {
          width: 48rpx;
          height: 52rpx;
        }
      }
      .right-btn-buy {
        width: 260rpx;
        height: 84rpx;
        line-height: 84rpx;
        color: #ffffff;
        font-size: 32rpx;
        text-align: center;
        border-top-right-radius: 42rpx; 
        border-bottom-right-radius: 42rpx; 
        border-top-left-radius: 0; 
        border-bottom-left-radius: 0;
        background-color: #EE3A43;
      }
    }
  }
}

