.order-detail-list {
  width: 100vw;
  height: 100vh;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
}


.order-detail-note-wrap {
  margin-top: 20rpx;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;  
  .note-wrap {
    width: 710rpx;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #ffffff;
    border-radius: 12rpx;
    .note-title {
      margin-top: 20rpx;
      width: 666rpx;
      font-size: 28rpx;
      font-weight: 600;
      color: #000000;
    }
    .note-content {
      margin-bottom: 20rpx;
      width: 666rpx;
      font-size: 28rpx;
      color: #000000;
      white-space: pre-wrap;
    }
  }
}


.order-detail-btn-wrap {
  width: 100%;
  margin-top: 60rpx;
  margin-bottom: 60rpx;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .order-detail-cancel {    
    width: 370rpx;
    height: 84rpx;
    background: #EE3A43;
    box-shadow: 0rpx 4rpx 12rpx 0rpx rgba(239,51,64,0.24);
    border-radius: 42rpx;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .order-detail-cancel-text {
      font-weight: 500;
      font-size: 32rpx;
      color: #FFFFFF;
    }
  }  
  .order-detail-count-down-wrap {
    margin-top: 20rpx;
    display: flex;
    flex-direction: row;
    align-items: center;
    .order-detail-count-down {
      font-size: 24rpx;
      color: #000000;
    }    
  }
}